@font-face {
  font-family: "Big Shoulders";
  src: url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
}

@font-face {
  font-family: "Lexend Deca";
  src: url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
}

:root {
/* Primary */
--gold500: hsl(31, 77%, 52%);
--cyan800: hsl(184, 100%, 22%);
--green950: hsl(179, 100%, 13%);

/* Neutral */
--white: hsla(0, 0%, 100%, 0.75);
--gray100: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 65rem;
  height: 31rem;
  display: flex;
}

.sedans {
  background-color: var(--gold500);
  height: 100%;
  width: 33.3%;
  padding: 2.5rem 3rem;
  border-radius: .75rem 0 0 .75rem;
}

.suvs {
  background-color: var(--cyan800);
  height: 100%;
  width: 33.3%;
  padding: 2.5rem 3rem;
}

.luxury {
  background-color: var(--green950);
  height: 100%;
  width: 33.3%;
  padding: 2.5rem 3rem;
  border-radius: 0 .75rem .75rem 0;
}

.icon {
  display: flex;
  align-items: flex-start;
}

.header {
  font-family: "Big Shoulders";
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  text-align: left;
  color: var(--gray100);
  margin: 2rem 0;
}

.info {
  font-family: "Lexend Deca";
  width: 100%;
  font-size: 1rem;
  text-align: left;
  color: var(--white);
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

.button {
  border-radius: 2rem;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  text-align: center;
  width: 50%;
}

a {
  text-decoration: none;
  font-family: "Lexend Deca";
  font-size: 1rem;
}

.sedans .button {
  color: var(--gold500);
  background-color: var(--gray100);
}

.suvs .button {
  color: var(--cyan800);
  background-color: var(--gray100);
}

.luxury .button {
  color: var(--green950);
  background-color: var(--gray100);
}

.sedans .button:hover {
  color: var(--gold500);
  background-color: var(--gold500);
  border: 2px solid white;
}

.suvs .button:hover {
  color: var(--cyan800);
  background-color: var(--cyan800);
  border: 2px solid white;
}

.luxury .button:hover {
  color: var(--green950);
  background-color: var(--green950);
  border: 2px solid white;
}

@media only screen and (max-width: 1100px) {
  .card {
    flex-direction: column;
    width: 25rem;
    height: 80rem;
  }

  .sedans {
    width: 100%;
    height: 33.3%;
    border-radius: .75rem .75rem 0 0;
  }

  .suvs {
    width: 100%;
    height: 33.3%;
  }

  .luxury {
    width: 100%;
    height: 33.3%;
    border-radius: 0 0 .75rem .75rem;
  }
}
